version: '3.8'
services:
  # 1. Aplikasi Laravel Kita
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: laravel_app
    restart: always
    working_dir: /var/www
    volumes:
      - ./:/var/www
    networks:
      - laravel

  # 2. Web Server (Nginx) - Pintu gerbang
  nginx:
    image: nginx:alpine
    container_name: laravel_nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./:/var/www
      - ./nginx/conf.d/:/etc/nginx/conf.d/
    networks:
      - laravel

  # 3. Database (MySQL)
  db:
    image: mysql:8.0
    container_name: laravel_db
    restart: always
    environment:
      MYSQL_DATABASE: laravel_db
      MYSQL_ROOT_PASSWORD: rahasia_root
      MYSQL_PASSWORD: rahasia_user
      MYSQL_USER: user_laravel
    networks:
      - laravel

networks:
  laravel:
    driver: bridge
